task2: create a dataframe using labelencoders and onehotencoder and converting categorical data to numerical data

In [1]:
!pip install --user scikit-learn

Requirement already satisfied: scikit-learn in c:\users\91863\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\91863\anaconda3\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91863\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\91863\anaconda3\lib\site-packages (from scikit-learn) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\91863\anaconda3\lib\site-packages (from scikit-learn) (1.18.5)

In [2]:
import numpy as np
import pandas as pd
dataset=pd.read_csv("ODI Rankings.csv")
df=pd.DataFrame(dataset)
df

  Team           Player  ranking
0  IND      Virat Kohli        1
1  IND     Rohit Sharma        2
2  PAK       Babar Azam        3
3   NZ      Ross Taylor        4
4  AUS      Aaron Finch        5
5   SA       Du Plessis        6
6  AUS     David Warner        7
7   NZ  kane Williamson        8
8   SA          De Kock        9
9  ENG   Jonny Bairstow       10

In [3]:
df=df.iloc[:,:].values
df

array([['IND', 'Virat Kohli', 1],
       ['IND', 'Rohit Sharma', 2],
       ['PAK', 'Babar Azam', 3],
       ['NZ', 'Ross Taylor', 4],
       ['AUS', 'Aaron Finch', 5],
       ['SA', 'Du Plessis', 6],
       ['AUS', 'David Warner', 7],
       ['NZ', 'kane Williamson', 8],
       ['SA', 'De Kock', 9],
       ['ENG', 'Jonny Bairstow', 10]], dtype=object)

In [4]:
#using labekencoder and coverting the categorical data to numerical for column "team"
from sklearn.preprocessing import LabelEncoder
country=LabelEncoder()
df[:,0]=country.fit_transform(df[:,0])
df

array([[2, 'Virat Kohli', 1],
       [2, 'Rohit Sharma', 2],
       [4, 'Babar Azam', 3],
       [3, 'Ross Taylor', 4],
       [0, 'Aaron Finch', 5],
       [5, 'Du Plessis', 6],
       [0, 'David Warner', 7],
       [3, 'kane Williamson', 8],
       [5, 'De Kock', 9],
       [1, 'Jonny Bairstow', 10]], dtype=object)

In [5]:
#using onehotencoder to spilt the column into multiple columns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encode',OneHotEncoder(),[0])],remainder="passthrough")

In [6]:
y=ct.fit_transform(df)
df=pd.DataFrame(y)
df

   0  1  2  3  4  5                6   7
0  0  0  1  0  0  0      Virat Kohli   1
1  0  0  1  0  0  0     Rohit Sharma   2
2  0  0  0  0  1  0       Babar Azam   3
3  0  0  0  1  0  0      Ross Taylor   4
4  1  0  0  0  0  0      Aaron Finch   5
5  0  0  0  0  0  1       Du Plessis   6
6  1  0  0  0  0  0     David Warner   7
7  0  0  0  1  0  0  kane Williamson   8
8  0  0  0  0  0  1          De Kock   9
9  0  1  0  0  0  0   Jonny Bairstow  10